* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    cursor: pointer;
}

.menu-icon .line {
    width: 35px;
    height: 5px;
    background: #000;
    margin: 6px auto 0;
    transition: all 0.4s ease;
}

.change .line-2 {
    opacity: 0;
}

.change .line-1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .line-3 {
    transform: translate(0, -11px) rotate(45deg);
}
